<!DOCTYPE HTML>
<html>
<head>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<title>간단한 지도 표시하기</title>
<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=8h2lb3yhzh"></script>
<!-- You MUST include jQuery before Fomantic -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.8.7/semantic.min.js"></script>

<style>
    .map_box {max-width:1200px;}
    .map_box #map { width:100%; height:628px;}
    #my_location { position:absolute; bottom:12%; right:3%; background:white; border:0.5px solid #5D5D5D; }
    #crosshairs { color:#5D5D5D; }
</style>
</head>
</head>
<body>
<div class="ui container">

    <div class="ui secondary pointing menu">
        <a class="item active">
            지도
        </a>

        <div class="right menu">
            <a class="ui item">
                로그인/로그아웃
            </a>
        </div>
    </div>
    <div class="ui tertiary inverted red segment">
        <div class="map_box">
            <div id="map">
            </div>

            <div id="my_location" class="ui compact icon button" data-content="현재 위치">
                <i id="crosshairs" class="crosshairs icon"></i>
            </div>

        </div>
    </div>

    <div class="ui grid">
        <div id="input_column" class="ten wide column">
            <div class="ui fluid large action input">
                <input type="text" placeholder="위치 검색">
                <select class="ui large compact selection dropdown">
                    <option value="all" selected>모두</option>
                    <option value="articles">Articles</option>
                    <option value="products">Products</option>
                </select>
                <div class="ui large button">검색</div>
            </div>
        </div>
    </div>

    <div class="ui items">
        <div class="ui section divider"></div>

        <div class="item" style="padding:5px;">
            <div class="content">
                <a class="header">데이터</a>
                <div class="description">
                    데이터 정보
                </div>
                <div class="extra">
                    <div class="ui mini labeled button" tabindex="0">
                        <div class="ui mini button">
                            <i class="heart icon"></i> 종아요
                        </div>
                        <a class="ui mini basic label">
                            2,048
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui section divider"></div>

    </div>

</div>

<script>

function desktop_input() {
	$("#input_column").removeClass('sixteen').removeClass('wide').removeClass('column');
	$("#input_column").addClass('ten').addClass('wide').addClass('column');
}

function mobile_input() {
	$("#input_column").removeClass('ten').removeClass('wide').removeClass('column');
	$("#input_column").addClass('sixteen').addClass('wide').addClass('column');
}


$(document).ready(function() {
	var winWidth = $(window).width();
	var boxWidth = $('#map').width();

	if(winWidth <= 1200) {
		$('#map').height(boxWidth*0.681);

		desktop_input();
	}

	if(winWidth <= 600) {
		mobile_input();
	}

});

$(window).resize(function() {
	var winWidth = $(window).width();
	var boxWidth = $('#map').width();

	if(winWidth <= 1200) {
		$('#map').height(boxWidth*0.681);

		desktop_input();
	}

	if(winWidth <= 600) {
		mobile_input();
	}

});

function getLocation() {
  if (navigator.geolocation) { // GPS를 지원하면
    navigator.geolocation.getCurrentPosition(function(position) {

    	// 현재위치 표시
    	var mapOptions = {
   		    center: new naver.maps.LatLng(position.coords.latitude, position.coords.longitude),
   		    zoom: 18
   		};

   		var map = new naver.maps.Map('map', mapOptions);

   		var markerOptions = {
   			position: new naver.maps.LatLng(position.coords.latitude, position.coords.longitude),
   			map: map
   		};

   		var marker = new naver.maps.Marker(markerOptions);

   		var myLocation = new naver.maps.LatLng(position.coords.latitude, position.coords.longitude);

   		$("#my_location").on("click", function(e) {
   			e.preventDefault();

   			map.setCenter(myLocation);
   		});

    }, function(error) {
      console.error(error);
    }, {
      enableHighAccuracy: true,
      maximumAge: 0,
      timeout: Infinity
    });
  } else {
    alert('GPS를 지원하지 않습니다');
  }
}
getLocation();

$('#my_location').popup();

$('.selection.dropdown').dropdown();
</script>
</body>
</html>